pipeline/PL_ADLStoASD_Testing.json
{
	"name": "PL_ADLStoASD_Testing",
	"properties": {
		"activities": [
			{
				"name": "CPD_TestingData",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "testing",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"ordinal": 1
								},
								"sink": {
									"name": "country",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"ordinal": 2
								},
								"sink": {
									"name": "country_code_2_digit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"ordinal": 3
								},
								"sink": {
									"name": "country_code_3_digit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"ordinal": 4
								},
								"sink": {
									"name": "year_week",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"ordinal": 5
								},
								"sink": {
									"name": "week_start_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"ordinal": 6
								},
								"sink": {
									"name": "week_end_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"ordinal": 7
								},
								"sink": {
									"name": "new_cases",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"ordinal": 8
								},
								"sink": {
									"name": "tests_done",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"ordinal": 9
								},
								"sink": {
									"name": "population",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"ordinal": 12
								},
								"sink": {
									"name": "testing_data_source",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Processed_Testing",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASD_demodb",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.SchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Logs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CPD_TestingData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n\n'@{pipeline().Pipeline}' as Pipeline_Name,\n\n'@{activity('CPD_TestingData').output.executionDetails[0].source.type}' as Source_Type,\n\n'@{activity('CPD_TestingData').output.executionDetails[0].sink.type}' as Sink_Type,\n\n'@{activity('CPD_TestingData').output.executionDetails[0].status}' as Execution_Status,\n\n'@{activity('CPD_TestingData').output.rowsRead}' as RowsRead,\n\n'@{activity('CPD_TestingData').output.rowsCopied}' as RowsWritten,\n\n'@{activity('CPD_TestingData').output.copyDuration}' as CopyDurationInSecs,\n\n'@{activity('CPD_TestingData').output.executionDetails[0].start}' as CopyActivity_Start_Time,\n\n'@{utcNow()}' as CopyActivity_End_Time,\n\n'@{pipeline().RunId}' as RunId,\n\n'@{pipeline().RunId}' as TriggerType,\n\n'@{pipeline().RunId}' as TriggerName,\n\n'@{pipeline().RunId}' as TriggerTime",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ASD_demodb",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.SchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASD_demodb",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "covid_reporting",
							"TableName": "Logs"
						}
					}
				]
			}
		],
		"parameters": {
			"SchemaName": {
				"type": "string",
				"defaultValue": "covid_reporting"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "testing"
			}
		},
		"folder": {
			"name": "Sqlize"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-28T18:19:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}