pipeline/PL_BlobToADLS_Population.json
{
	"name": "PL_BlobToADLS_Population",
	"properties": {
		"activities": [
			{
				"name": "VA_CheckFileExists",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_Population_raw",
						"type": "DatasetReference",
						"parameters": {
							"FileName_gz": {
								"value": "@pipeline().parameters.FileName_PopulationByAge",
								"type": "Expression"
							}
						}
					},
					"timeout": "00.00:00:20",
					"sleep": 10,
					"minimumSize": 1024
				}
			},
			{
				"name": "GMD_ColumnCount",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "VA_CheckFileExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_Population_raw",
						"type": "DatasetReference",
						"parameters": {
							"FileName_gz": {
								"value": "@pipeline().parameters.FileName_PopulationByAge",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IF_ColumnCountMatch",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GMD_ColumnCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GMD_ColumnCount').output.columnCount, 13)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CPD_Population",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".tsv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_Population_raw",
									"type": "DatasetReference",
									"parameters": {
										"FileName_gz": {
											"value": "@pipeline().parameters.FileName_PopulationByAge",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Population",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete_Population",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "CPD_Population",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ABLB_Population_raw",
									"type": "DatasetReference",
									"parameters": {
										"FileName_gz": {
											"value": "@pipeline().parameters.FileName_PopulationByAge",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FileName_PopulationByAge": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-28T18:36:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}